.App {
 display:flex;
 justify-content: center;
 align-items: center;
}
.todo{

    display:flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 750px;
    border-radius: 45% 45% 0 0;
    border: 1px solid #9B9B9B;
    background-color: #5A6868;
    box-shadow: 0 10px 20px 0;
}
.todo__box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.todo__header{
    font-size: 70px;
    font-family: 'karla';
    font-weight: 100;
    color: #E0E0E0;
    text-align: center;
}

