.footer-box{
    display: flex;
    justify-content: space-between;
    align-items:flex-end ;
    font-size: 20px;
    color: #9E9E9Ee5;
    width: 75%
}
.arrow{
    display: flex;
    cursor: pointer;
}

.arrow-block{
    display: flex;
}
.arrow-none{
    display: none;
}
.delete-item:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.arrow-block:hover{
    transform: scale(1.5);
    cursor: pointer;
}
